@for $x from 0 to 4 {
    @keyframes right#{$x}{
        0%   {left:0rem;}
        100%  {left:$x*6rem;}
    }
    @keyframes left#{$x} {
        0%   {right:0rem;}
        100%  {right:$x*6rem;}
    }
    @keyframes up#{$x} {
        0%   {bottom:0rem;}
        100%  {bottom:$x*6rem;}
    }
    @keyframes down#{$x} {
        0%   {top:0rem;}
        100%  {top:$x*6rem;}
    }
}
@for $x from 0 to 4 {
    .moveright#{$x}{
        animation-name: right#{$x};
        animation-duration:100ms;
        animation-fill-mode: forwards;
    }
    .moveleft#{$x} {
        animation-name: left#{$x};
        animation-duration:100ms;
        animation-fill-mode: forwards;
    }
    .moveup#{$x} {
        animation-name: up#{$x};
        animation-duration:100ms;
        animation-fill-mode: forwards;
    }
    .movedown#{$x} {
        animation-name: down#{$x};
        animation-duration:100ms;
        animation-fill-mode: forwards;
    }
}


@keyframes pop {
    0% {transform: scale(0);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}
@keyframes new {
    0% {transform: scale(0);opacity: 0;}
    100% {transform: scale(1);opacity: 1;}
}
.newBox{
    animation-duration:100ms;
    animation-fill-mode: forwards;
    animation-name: new;
}
.merageBox{
    animation-duration:100ms;
    animation-fill-mode: forwards;
    animation-name: new;
}