@keyframes right{
    0%   {left:0rem; opacity: 1;}
    100%  {left:12rem; opacity: 0;}  
}
@keyframes left{
    0%   {right:0rem; opacity: 1;}
    100%  {right:12rem; opacity: 0;}
}
@keyframes down{
    0%   {top:0rem; opacity: 1;}
    100%  {top:12rem; opacity: 0;}
}
@keyframes up{
    0%   {bottom:0rem; opacity: 1;}
    100%  {bottom:12rem; opacity: 0;}
}
// @for $x from 0 to 4 {
//     @for $y from 0 to 4 {
//         .cell-#{$x * 4 + $y}{
//             $xPos: (6rem) * ($x);
//             $yPos: (6rem) * ($y+3);
//             background-color: "red";
//             transform: translate($xPos, $yPos);
//             border: 1px solid black;
//         }
//     }
// }
// .d{
//     transition:(200ms ease-in-out);
//     -webkit-transition-property: -webkit-transform;
//     -moz-transition-property: -moz-transform;
//     transition-property: transform;
// }
@keyframes pop {
    0% {transform: scale(0);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}
@keyframes new {
    0% {transform: scale(0);opacity: 0;}
    100% {transform: scale(1);opacity: 1;}
}